
<!--
.Gaz {  font-family: Georgia, "Times New Roman", Times, serif; font-size: 18pt; font-style: normal; font-weight: bold; color: #0000CC; text-decoration: blink; border-color: #CCCCCC #999999 #000000 #666666; border-style: groove; border-top-width: thin; border-right-width: thin; border-bottom-width: thick; border-left-width: medium}
.titres2 {  font-family: Westminster; font-size: 16pt; font-style: normal; font-weight: normal; background-position: center center; color: #999999; border: 10px #3399CC dashed; cursor: crosshair; background-color: #666666}
-->
